<!-- DELETE Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">

        <!-- FORM -->
        <form action="{% url 'blog-delete' %}" method="POST">
            {% csrf_token %}
            <div class="modal-content">

                <!-- TITLE -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">O'chirish</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">
                    Bu post ni rostdan ham o'chirmoqchimisiz?
                </div>

                <!-- ID -->
                <input type="hidden" name="id" id="blogDeleteId">

                <!-- BUTTON -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yo'q</button>
                    <button type="submit" class="btn btn-primary btn btn-danger">Ha</button>
                </div>

            </div>

        </form>

    </div>
</div>