{% extends '_base.html' %}

{% block content %}

    <div class="container d-flex justify-content-center">
        <div class="card card-fluid my-3 border border-0 w-50">
            <!-- IMAGE -->
            <img src="{{ blog.get_image_url }}" class="card-img-top rounded" alt="picture">

            <!-- ARTICLE -->
            <div class="card-body">
                <h2 class="card-title">{{ blog.title }}</h2>
                <p class="card-text">{{ blog.description|safe }}</p>
                <p class="card-text">
                    <small class="text-body-secondary">{{ blog.created_at | timesince }}</small>
                </p>
            </div>

            <div class="d-flex justify-content-center m-5">

                <!-- MY CHANNEL CARD -->
                <div class="card w-75 shadow border-0" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Obuna bo'ling</h5>
                        <p class="card-text">Yangi maqola, maruza va darslarimni <a href="https://t.me/asadbek_solijonov_blog" class="card-link" target="_blank">@asadbek_solijonov_blog</a> telegram kanalimda topishingiz mumkin.</p>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-between align-items-center p-3">

                <!-- PAGINATOR BUTTONS -->
                <div class="d-flex justify-content-between align-items-center border-top border-bottom p-2 w-100">

                    <!-- PREVIOUS -->
                    {% if previous_article %}
                        <a class="page-link" href="{% url 'detail' previous_article.pk %}">Avvalgi</a>
                        <!-- BLOGS -->
                    {% endif %}

                    <!-- HOME -->
                    <a class="page-link px-5" href="{% url 'home-view' %}">Bosh sahifa</a>

                    <!-- NEXT -->
                    {% if next_article %}
                        <a class="page-link" href="{% url 'detail' next_article.pk %}">Keyingi</a>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>


{% endblock %}