<!--Navbar-->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Yangiliklar</a>

        <!--FORM-->
        <form class="d-flex w-75 input-group" role="search" action="{% url 'blog-search' %}" method="POST">
            {% csrf_token %}

            <!--SEARCH INPUT-->
            <label class="input-group-text" id="basic-addon1" for="search"><i class="bi bi-search"></i></label>
            <input class="form-control me-2" name="search" id="search" type="search" placeholder="Qidirish"
                   aria-label="Search">
            <!--SEARCH BUTTON-->
            <button class="btn btn-outline-dark" style="width: 180" type="submit">Qidirish</button>
        </form>
        {% if user.is_authenticated %}
        <!--CREATE BUTTON-->
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-clipboard2-plus-fill"></i> yaratish
        </button>
        {% endif %}
    </div>
</nav>
